html {
    height: 100%;
  }

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: verdana;
    display : flex;
    flex-direction : column;
    align-items: stretch;
  }

@media screen and (max-width: 768px) {

    article {
        display : flex;
        flex-direction : column;
        align-items: stretch;
        color: rgb(93, 93, 93);
    }

    header {
        text-align : center;
        font-family: verdana;
        font-weight: lighter;
        margin: 0px;
    }

    main {
        text-align : justify;
        margin : 15px;
        font-size: 10pt;
    }


    aside {
        text-align : center;
        margin : 0px;
        font-size: 10pt;
        background-color : rgb(254, 202, 7);
    }

    hr {
        background-color : rgb(254, 202, 7);
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 12px;
    }

    h3 {
        font-size: 15px;
    }

    h4, h5, h6 {
        margin : 5px;
    }

    #profil {
        height : 120px;
        width : 120px;
        border-radius: 50%;
    }

    #reco {
        display : flex;
        flex-direction : row;
        align-items: stretch;
        justify-content: space-between;
    }

    .icon {
        color:rgb(254, 202, 7);
        margin-right: 5px;
    }

    #apropos {
        padding :   5px;
    }

    #adr{
        display : flex;
        flex-direction : row;
        align-items: stretch;
        justify-content: space-evenly;
        font-size: 8pt;
    }

    #mail{
        display : flex;
        flex-direction : row;
        align-items: stretch;
        justify-content: space-evenly;
        font-size: 8pt;
    }

    #loisir {
        display : flex;
        flex-direction : row;
        align-items: stretch;
        justify-content: space-evenly;
        padding : 5px;
        font-size:20px
    }
}

@media screen and (min-width: 769px) {

}