html {
    height: 100%;
  }

body {
    margin: 0;
    padding: 0;
    font-family: tahoma, sans-serif;
    display : flex;
    flex-direction : column;
    align-items: stretch;
    justify-content: center;
  }



.name {font-weight: 100;}

.job {text-decoration: underline; 
    text-decoration-color: rgb(254, 202, 7);}

.aside_title {
    color:rgb(254, 202, 7); 
    background-color: rgb(93, 93, 93); 
    margin : 0px; 
    padding : 5px;
    text-align: center;
}

.section_title {
    border-bottom: thin  solid rgb(93, 93, 93);
    padding-bottom: 1em;
}

ul {
    display : flex;
    flex-direction : row;
    align-items: stretch;
    justify-content: space-between;
    list-style-type: none;
    padding-inline-start: 0px;
    color: rgb(93, 93, 93);
}

.auto_margin {
    margin-top: auto;
}

.surname {color : white}

.experience {
    display : flex;
    flex-direction : column;
    align-items: stretch;
    text-align : justify;
    color: rgb(93, 93, 93);
}

header {
    text-align : center;
    font-family: tahoma, sans-serif;
    font-weight: lighter;
    margin: 0px;
    background-color : rgb(254, 202, 7);
}
main {
    display : flex;
    flex-direction : column-reverse;
}

.main_section {
    text-align : left;
    margin : 15px;
    font-size: 10pt;
}


.nav {
    text-align : center;
    margin : 0px;
    font-size: 10pt;
    background-color : rgb(254, 202, 7);
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 12px;
}

h3 {
    font-size: 12px;
}
h4 {
    margin : 5px;
    font-weight: bold;
}

h5, h6 {
    margin : 5px;
}

.profil {
    height : 120px;
    width : 120px;
    border-radius: 50%;
}

.reco {
    display : flex;
    flex-direction : column;
    align-items: stretch;
    justify-content: space-between;
    font-size: 8pt;
}

.icon {
    color:rgb(254, 202, 7);
    margin-right: 15px;
    padding-top: 3px;
}

.aboutme {
    padding :   5px;
}

.adr{
    display : flex;
    flex-direction : row;
    align-items: stretch;
    justify-content: space-evenly;
    font-size: 8pt;
}

.mail{
    display : flex;
    flex-direction : row;
    align-items: stretch;
    justify-content: space-evenly;
    font-size: 8pt;
}

.hobbies {
    display : flex;
    flex-direction : row;
    align-items: stretch;
    justify-content: space-evenly;
    padding : 5px;
    font-size:20px
}

.title {
    line-height: 1em;
}

.desktop-br {display: none;}

.bullet{
    display : inline-flex;
    line-height: 1em;
}

.date{
    margin : 0;
    line-height: 15px;;
}

.size{
    font-size : 0.875em;
}


@media screen and (min-width: 800px) {
    h1 {
        font-size: 26px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 18px;
    }

    li {
        font-size: 16px;
    }

    .resume{
        font-size: 16px;
    }

    header {
        text-align : center;
        font-family: tahoma, sans-serif;
        font-weight: lighter;
        margin: 0px;
        background-color : white;
    }

    .surname {color : rgb(254, 202, 7)}

    h6,h5 {
        font-size: 12px;
    }

    h4 {
        font-weight: bold;
    }
    header {
        text-align : center;
        font-family: tahoma, sans-serif;
        font-weight: lighter;
        margin: 0px;
        display : flex;
        flex-direction : row;
        align-items: stretch;
        justify-content: center;
    }

    main {
        display : flex;
        flex-direction : row-reverse;
        align-items: stretch;
        margin: 0px;
        justify-content: center;
    }

    .main_section {
        margin : 0px;
        text-align : left;
        padding-left : 35px;
        padding-right : 0px;
        font-size: 10pt;
        width : 500px
    }
    

    .nav {
        text-align : center;
        margin : 0px;
        font-size: 10pt;
        background-color : rgb(254, 202, 7);
        width : 300px;
        display : flex;
        flex-direction : column;
        align-items: stretch;
        justify-content: flex-start;
        text-align: left;
    }

    .experience {
        display : flex;
        flex-direction : row;
        align-items: stretch;
        text-align : justify;
        justify-content: space-between;
        color: rgb(93, 93, 93);
    }

    .reco {
        display : flex;
        flex-direction : column;
        align-items: stretch;
        justify-content: space-between;
    }

    .profil {
        height : 120px;
        width : 120px;
        border-radius: 50%;
    }

    .photo {
        width : 300px;
        background-color : rgb(254, 202, 7);
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .title {
        width : 500px;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left : 35px;
        padding-right : 0px;
        text-align: left;
    }

    .exp{
        width: 300px;
    }

    h1,h2 {
        font-weight: lighter;
    }

    .icon {
        color:rgb(254, 202, 7);
        margin-right: 25px;
        padding-top: 30px;
    }

    .hobbies {
        display : flex;
        flex-direction : row;
        align-items: stretch;
        justify-content: space-evenly;
        padding : 20px;
        font-size:20px
    }

    .info {
        padding-top : 20px;
        padding-bottom : 20px;
        width : 100%
    }

    .date{
        margin : 0;
        line-height: 15px;;
        padding-top: 25px;
    }

    .desktop-br {display: inline;}

    .bullet{
        display : flex;
        flex-direction : row;
        line-height: 1em;
    }

    .size{
        font-size : 1.33em;
    }
    .aboutme {
        padding : 20px;
    }

    .adr{
        padding-left : 10px;
    }

    .mail{
        padding-left : 10px;
    }

}